@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Clash Display';
    src: url('../public/fonts/ClashDisplay-Variable.woff2');
  }
  
/* Then apply the font to elements */
* {
    font-family: 'Clash Display', 'Helvetica';
}